<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>refreshEasyTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D85D0C11C859A970046C8CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D85D0D51C859A970046C8CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D85D0E01C859A970046C8CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
